<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.2"
      integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
      crossorigin="anonymous"
    ></script>
    <title>Movies List</title>
  </head>
  <body>
    <h1>Movies List</h1>

    <ul>
      {{ range .Movies}}
      <li>{{ .Title }} - {{ .Director }}</li>
      {{end}}
    </ul>

    <div>
      <h1>Add a movie</h1>

      <form hx-post="/add-movie/">
        <label for="movie-title">Title</label>
        <input type="text" name="title" />
        <label for="movie-director">Director</label>
        <input type="text" name="director" />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
