<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.2"
      integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
      crossorigin="anonymous"
    ></script>
    <title>Movies List</title>
  </head>
  <body>
    <h1>Movies List</h1>

    <ul id="movie-list">
      {{ range .Movies}}
        {{block "movie-list-element" .}}
        <li>{{ .Title }} - {{ .Director }}</li>
        {{ end }}
      {{end}}
    </ul>

    <div>
      <h1>Add a movie</h1>

      <form
        hx-post="/add-movie/"
        hx-target="#movie-list"
        hx-swap="beforeend"
        hx-indicator="#spinner"
      >
        <label for="movie-title">Title</label>
        <input type="text" name="title" />
        <label for="movie-director">Director</label>
        <input type="text" name="director" />
        <button type="submit">
          <img
            src="https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200w.gif?cid=6c09b952u6oc95js64i8qeeulhyv1wsoltjg59w5fyxvxz8h&ep=v1_gifs_search&rid=200w.gif&ct=g"
            width="50px"
            class="htmx-indicator"
            id="spinner"
          />
          Submit
        </button>
      </form>
    </div>
  </body>
</html>
